<% layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-3">
        <div class="col-10 offset-1 mb-3">
            <h3 class="mb-3 new-edit-note-head">Edit Your Note</h3>
            <form method="POST" action="/notes/<%=note.id%>?_method=PUT" novalidate class="needs-validation">
                <div class="mb-3">
                    <input name="note[title]" type="text" value="<%=note.title%>" class="form-control" required>
                    <div class="invalid-feedback">Please enter a title</div>
                </div>
                <div class="mb-3">
                    <textarea name="note[description]" rows="10" type="text"
                        class="form-control"><%=note.description%></textarea>
                </div>
                <div class="d-grid">
                    <button class="add-edit-btn btn btn-primary btn-lg">EDIT</button>
                </div>
            </form>
        </div>
    </div>